<section class="section">
  <h2 class="title">WAStore</h2>
  <h3 class="subtitle">Tu tienda en la nube</h3>

  <table class="table">
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th> - </th>
    </tr>
    {{#each articulos}}
    <tr>
      <td>{{ codigo }}</td>
      <td>{{ nombre }}</td>
      <td>{{ precio }}</td>
      <td><a href="/products/view/{{ id }}" class="button is-info">Ver</a> <a href="/products/edit/{{ id }}" class="button is-link">Editar</a></td>
    </tr>
    {{/each}}
  </table>
</section>